*{
    box-sizing: border-box;
}

:root {
    --red-primary:hsl(0, 100%, 74%);
    --green-primary:hsl(154, 59%, 51%);
    --blue-accent:hsl(248, 32%, 49%);
    --dark_blue-neutral:hsl(249, 10%, 26%);
    --grayish_blue:hsl(246, 25%, 77%);
}

body {
    background-image: url("images/bg-intro-desktop.png");
    background-color: var(--red-primary);
    font-family: "Poppins", sans-serif;
    color: white;
    display: ;
    align-items: center;
}

.container {
    display: flex;
    flex-wrap: wrap;
}

.container-left {
    width: 50%;
    margin: auto;

    & .title {
        text-align: left center;
        width: 50%;
        margin:40px auto;
        line-height: 1;
        font-size: 3rem;
        margin-top: 250px;
    }

    & .weakness {
        text-align:left center;
        width: 60%;
        margin: auto;
        font-size: 1.1rem;
        margin-right: 140px;
    }
}

.container-right {
    width: 50%;
    margin: auto;
    

    & .content {
        background-color: var(--blue-accent);
        text-align: center;
        width: 60%;
        margin: 0 auto;
        padding: 10px;
        border-radius: 10px;
        font-weight: 600;
        margin-top: 200px;
        box-shadow: 5px 5px rgba(22, 22, 22, 0.3);
    }

    & .content span {
        color: var(--grayish_blue);
        
    }

    & .configuration {
        background-color: white;
        display: flex;
        flex-direction: column;
        width: 60%;
        margin: 20px auto;
        padding: 30px;
        border-radius: 10px;
        gap: 20px;
    }

    & #inputContent {
        padding: 10px;
        border-radius: 5px;
        border-color: var(--grayish_blue);
        font-weight: bold;
        
    }

    & #inputBtn {
        padding: 15px;
        text-transform: uppercase;
        color: white;
        font-weight: 900;
        background-color: var(--green-primary);
        border-radius: 5px;
        cursor: pointer;
        border-color: var(--grayish_blue);
    }

    & #inputBtn:hover {
        background-color: var(--dark_blue-neutral);
        color: var(--green-primary);
        transition: 2s ease;
    }
}